[default_macros]
cooldown: TURN_OFF_HEATERS
extrude: _GUPPYSCREEN_EXTRUDE EXTRUDER_TEMP={} EXTRUDE_LEN={} SPEED={}
retract: _GUPPYSCREEN_RETRACT EXTRUDER_TEMP={} EXTRUDE_LEN={} SPEED={}
load_filament: LOAD_FILAMENT EXTRUDER_TEMP={}
unload_filament: UNLOAD_FILAMENT EXTRUDER_TEMP={}

[ui]
invert_z_icon: false
prompt_emergency_stop: true
# specify -1 for never
display_sleep_sec: 600
# log levels are info, debug, trace
log_level: info
display_rotate: 0
# for displaying the current chamber temp in printing ui
chamber_temp_sensor: temperature_sensor box
# comma-separated extruder panel button values
extruder_temp_presets: 190, 200, 220, 230, 240, 260, 280, 300
extruder_temp_default: 230
extruder_length_presets: 5, 10, 15, 20, 25, 30, 35, 45
extruder_length_default: 10
extruder_speed_presets: 1, 2, 5, 10, 15, 20, 22, 25
extruder_speed_default: 5

# blue = primary_colour: 0x2196F3, secondary_colour: 0xF44336
# green = primary_colour: 0x4CAF50, secondary_colour: 0xF44336
# pink = primary_colour: 0xFEC5E5, secondary_colour: 0xE91E63
# purple = primary_colour: 0x9C27B0, secondary_colour: 0xF44336
# red = primary_colour: 0xF44336, secondary_colour: 0xF44336
# yellow = primary_colour: 0xFFEB3B, secondary_colour: 0xF44336
[theme]
primary_colour: 0x2196F3
secondary_colour: 0xF44336

[moonraker]
host: 127.0.0.1
port: 80

[commands]
factory_reset_cmd: /usr/bin/factory-reset
gui_restart_cmd: /etc/init.d/gui-switcher restart
cosmos_update_cmd: /usr/bin/update-cosmos
switch_to_stock_cmd: /usr/bin/switch-to-oc-patched
support_zip_cmd: /usr/bin/generate-support-zip

[fan "fan"]
display_name: Toolhead

[fan "fan_generic model_helper_fan"]
display_name: Model Helper

[fan "fan_generic box_fan"]
display_name: Chamber

[led "led hotend"]
display_name: Toolhead
pwm: true

[led "led case"]
display_name: Case
pwm: true

[monitored_sensor "extruder"]
display_name: Extruder
color: red
controllable: true

[monitored_sensor "heater_bed"]
display_name: Bed
color: purple
controllable: true

[monitored_sensor "temperature_sensor box"]
display_name: Chamber
color: blue
controllable: true
